.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  height: 900px;
  width: 500px;
  grid-gap: 10px;
  z-index: 1;
}


li {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.App ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style-type: none;
}

.cities img:hover {
  transform: scale(2.0);
}

.TitleBanner:hover {
  animation: moveToRight 2s ease-in-out;
  animation-delay: 1000ms;
}

@keyframes moveToRight {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(300px);
  }
}